/* fonts */
h1 {
    font-family: 'Oxygen', bold;
    font-size: 5em; /* Enlarge the h1 text size */
}
h2 {
    font-family: 'Oxygen', bold;
    font-size: 3em; /* Enlarge the h1 text size */
}

html {
    scroll-behavior: smooth;
}

:root{
    --fw-reg: 600;
    --fw-bold: 900;
    
    /*COLOURS*/
    --navy: #0a101b;         
    --plum: #1d1f52;      
    --acc: #2b2b89;
    --cream: #ead7ce;      

    --bs: 0 4px 6px rgba(0,0,0,0.1);
}

body{
    background-color: var(--navy); /* Set the background color to black */
    color: var(--cream); /* Ensure text is readable on black background */
    margin: 0;
    padding: 0;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* starts 50px below */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* drama */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

h2, p {
    font-family: 'Roboto', sans-serif;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000;
    padding: 0.5em 1em;
    text-transform: uppercase;
}

/* Header menu styling */
.header-menu {
    list-style: none;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
}

.header-menu a {
    font-size: 1.25em; /* Enlarge the h1 text size */
    margin: 0 15px;
    color: var(--cream);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--fw-bold);
}


.header-menu a:hover {
    color: rgb(245, 206, 98);

}

/* title */

.title {
    background: linear-gradient(to bottom, rgb(0, 0, 0), var(--plum));
    padding-bottom: 5em;
    margin: 0 auto;

}

@media (min-width: 200px){
    .title {
        padding-top: 10em;
        display: grid;
        grid-template-columns: 40% 60%; /* Two equal columns */
        grid-column-gap: 2em;
        grid-template-areas:
            "title img";
        margin: 0 auto;
        align-items: center; /* Center the experiences horizontally */
    }

    .title__img {
        grid-area: img;
        border-radius: 10px; /* Rounded corners */

        z-index: 2;
        justify-content: center;
        width: 85%; /* Make the image responsive */
        height: auto;
        align-self: start; /* Ensure the image aligns to the top */

    }
    .title__text {
        grid-area: title;
        padding-left: 5em;
    }
    .title__text h1 {
        font-size: 5em; /* Enlarge the h1 text size */
        margin: 0;
    }
}

.button {
    background-color: var(--plum); /* Button color */
    color: var(--cream); /* Text color */
    padding: 0.5em 1em; /* Padding for the button */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.5em; /* Font size for the button text */
    text-transform: uppercase;
    font-family: 'Oxygen', bold;
    transition: transform 300ms ease-in-out;
    display: inline-block; /* Ensure transforms work properly */
    text-decoration: none;
}

.button:hover {
    transform: scale(1.15);
    background-color: var(--acc); /* Button color */

}

/* subteam */
.subteams {
    background: var(--plum);
    background: linear-gradient(to bottom, var(--plum), var(--navy));
    text-align: center;
    align-items: center; /* Center the experiences horizontally */
    font-family: 'Oxygen', bold;
}

.subteam__header{
    grid-column: 1 / -1; /* span the full width */
    align-items: center;
}
.subteam__header h3 {
    text-align: center;
    font-size: 3em; /* Enlarge the h1 text size */
}

.subteam {
    padding-bottom: 4em;
    display: grid;
    gap: 2px;
    grid-template-columns: 25% 25% 25% 25%; /* Four equal columns */
}

.subteam__item {
    color: white;
    font-size: 4em;
    box-shadow: var(--bs);
    border-radius: 10px; /* Add rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding to extend border */
    position: relative;
    overflow: hidden;
}

.subteam__item::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-lt);
    font-size: 3rem;
    font-weight: var(--fw-bold);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: none; /* Ensure the text does not interfere with hover */
    z-index: 3;

}

.subteam__item:hover::before {
    opacity: 1;
}

.subteam__img {
    transition: transform 750ms, 250ms linear;
    max-width: calc(100% - 20px); /* Adjust max-width to account for padding */
    max-height: calc(100% - 20px); /* Adjust max-height to account for padding */
    border-radius: 10px; /* Add rounded corners */
}

.subteam__item:focus {
    position: relative;
    z-index: 2;
    font-family: 'Oxygen', bold;
}

.subteam__img:hover {
    transform: scale(1.1);
    opacity: 0.25;

}


/* sponsors */
.sponsors-logos h1 {
    
    padding-top: 1em;
    text-align: center;
    font-size: 3em; /* Enlarge the h1 text size */
}

.sponsors-logos {
    overflow: hidden;
    width: 100%;
    background: var(--navy); /* or any background color you want */
    padding: 1em 0;
}

.logo-slider {
    padding-top: 4em;
    display: flex;
    align-items: center;
    /* Duplicate set of logos ensures a continuous loop */
    animation: slide 10s linear infinite;
}

.logo-slider img {
    height: 80px; /* Adjust size as needed */
    margin: 0 2em;
}

/* Adjust the keyframe percentage based on the width of your content */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



/* members */
.members {
    padding-top: 7em;
    background: linear-gradient(to bottom, var(--navy) 0%, rgba(10,16,27,0) 100%), url('../img/hubble.jpg');
}

.members h1 {
    font-size: 3em; /* Enlarge the h1 text size */
    text-align: center;
}

.member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive grid layout */
    max-height: calc(100% - 20px); /* Adjust max-height to account for padding */
}

/* Container for each print item */
.member__img-container {
    margin: auto;           /* Center the container with spacing */
    padding-bottom: 1.5em;;
    text-align: center;
    transition: transform 500ms ease-in-out;
}
.member__img-container:hover {
    transform: scale(1.15);
}

/* Style for the member image */
.member__img {
    max-height: 300px;               /* Set a convenient width */
    height: 100%;                /* Fit within container */
    box-shadow: var(--bs);
    border-radius: 5px;         /* Optional: rounded corners */
}

/* Container for text details under the image */
.member__details {
    margin-top: 0.5em;
    font-size: 0.9rem;
    color: var(--cream);
    line-height: 1.4;
}


.member__name{
    font-size: 2em;
    display: block;
    margin-bottom: 0.2em;
    font-family: 'Oxygen', bold;
}
.member__role{
    display: block;
    margin-bottom: 0.2em;
    font-family: 'Oxygen', bold;
}
.member__description {
    display: block;
    margin-bottom: 0.2em;
    font-family: 'Oxygen', bold;
}

/* achievements  */
.achievements {
    background: linear-gradient(to bottom, var(--navy) 0%, rgba(10,16,27,0) 100%), url('../img/hubble.jpg');
}


/* footer */
.footer {
    background: rgb(15, 9, 26);
    color: var(--clr-accent-light);
    text-align: center;
    padding: 2.5em 0;

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    color: var(--clr-lt);
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;


    margin: 1em 0 0;
    padding: 0;
}


.social-list__item {
    margin: 0.5em;
}

.social-list__link {
    color: var(--clr-lt);
    padding: 0em;
}




